/* TODO: Add the responsive styles here */
/* @media screen and (max-width: 600px) {
    .w3-hide-small {
        display: none;
    }

    .w3-col.m6 {
        width: 93%;
    }

    *, *:before, *:after {
        box-sizing: unset;
    }

    .w3-col.l6 {
        width: 93%;
    }
} */

@media screen and (max-width: 600px) {
    .w3-hide-small {
        display: none;
        /* visibility: hidden; */
    }

    .w3-col.m6 {
        width: 100%;
    }
    
    .w3-col.l6 {
        width: 93%;
    }
}