@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
    --clr-form-bg: #f6f7f8;
    --clr-section-grey-border: #929292;
    --clr-grey-borders: #393939;
    --clr-blue-calculate: #05a2d3;
    --clr-grey-text-btns: #0e1209;
    --clr-bg-metric: #e0e0df;
    --clr-bg-us: #86d862;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 70px;
}

.section {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 24px; */
    max-width: 1080px;
    margin: 0 auto;
    border: 1px solid var(--clr-section-grey-border);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: var(--clr-form-bg);
}

.section .picture,
.section .form {
    width: 50%;
}

.section .picture {
    opacity: 0.75;
}

.section .form {
    text-align: center;
    height: 100%;
}

h1 {
    padding: 2rem 0px;
}

.form .form-header {
    display: inline-flex;
    align-items: center;
    gap: 1.9rem;
    /* padding-bottom: 2rem; */
}

.form .form-header .us-units {
    border: var(--clr-grey-borders);
    padding: 0.3rem 0.7rem;
    background-color: var(--clr-bg-us);
    margin-right: 1rem;
    border-radius: 10px;
    border: 2px solid var(--clr-grey-borders);
    color: var(--clr-grey-text-btns);
    letter-spacing: 0.5px;
    text-align: center;
    width: 10rem;
    font-weight: 500;
}

.form .form-header .metric-units {
    border: var(--clr-grey-borders);
    padding: 0.3rem 0.7rem;
    background-color: var(--clr-bg-metric);
    margin-left: 1rem;
    border-radius: 10px;
    border: 2px solid var(--clr-grey-borders);
    color: var(--clr-grey-text-btns);
    letter-spacing: 0.5px;
    text-align: center;
    width: 10rem;
    font-weight: 500;
}

.form .category {
    font-weight: bold;
    font-size: 16px;
}

#gender {
    height: 20px;
    width: 11rem;
    margin-right: 10px;
    border: 1px solid var(--clr-grey-borders);
    border-radius: 2px;
}

.age {
    font-size: 12px;
    width: 11rem;
    margin-left: 10px;
    border: 1px solid var(--clr-grey-borders);
    border-radius: 2px;
}

.weight {
    width: 80%;
    line-height: 1.5;
    border: 1px solid var(--clr-grey-borders);
    border-radius: 2px;
}

.height {
    border-radius: 5px;
    width: 40%;
    margin: 0px 5px;
    border: 1px solid var(--clr-grey-borders);
}

.submit-btn {
    width: 90%;
    text-align: center;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5px;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid var(--clr-blue-calculate);
    margin: 2.8rem 0 2rem 0;
    background-color: var(--clr-blue-calculate);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
