@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";

.card {
    position: relative;
}

img {
    display: block;
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 8px;
}

.one {
    background-color: darkgoldenrod;
    padding: 3%;
    line-height: 50vh;
}

.two {
    background-color: darkcyan;
    padding: 3%;
    line-height: 50vh;
}

i {
    font-size: large;
    color: antiquewhite;
    position: absolute;
    bottom: 5%;
    left: 62%;
    /* transform: translate(-50%, -50%); */
    /* padding: 3%; */
}