@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";

body {
    background-color: rgb(224, 224, 235);
}

.card {
    background-color: white;
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    margin: 1% auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Card style one - Classic */

.card .head {
    position: relative;
    height: 250px;
}

.card .head .head__tag{
    position: absolute;
    top: 15px;
    right: 18px;
    color: white;
    text-align: center;
    background-color: #845EC2;
    padding: 4px 12px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1.1px;
    font-size: larger;
}

.card .head .head__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.card .content {
    padding: 0 18px 6px 18px   ;
}

.content__desc {
    color: rgb(77, 86, 86);
}

.card .content.content--icon {
    position: relative;
}

.card .content.content--icon .content__title,
.card .content.content--icon .content__desc {
    width: 85%;
}

.card .content.content--icon .content__icon {
    position: absolute;
    top: 45%;
    right: 18px;
    transform: translateY(-55%);
    font-size: xx-large;
    opacity: 0.5;
    color: #FF508C;
    cursor: pointer;
    border: none;
    padding: 0px;
    background-color: transparent;
    transition: opacity 200ms ease-in-out;
}

.card .content.content--icon .content__icon:hover {
    opacity: 1;
}

/* More info card */
.card.card--read-more .content{
    position: relative;
}

.card.card--read-more .content .content__btn{
    border-radius: 18px;
    padding: 6px 24px;
    color: white;
    background-color: #00C7C2;
    border: none;
    cursor: pointer;
    font-size: larger;

    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
    transition: background-color 200ms ease-in-out;
}

.card.card--read-more .content .content__btn:hover {
    background-color: #006B5F;
}

.card.card--read-more .content::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(120, 79, 79, 0.619);

    position: absolute;
    top: 0px;
    left: 0px;

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 28%, rgba(255,255,255,0) 58%);
}

/* Card 3 - BG Image */
.card.card--bg-img{
    position: relative;
}

.card.card--bg-img .card__bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0px;
    left: 0px;
}

.card.card--bg-img::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 0px;
    left: 0px;
}

.card.card--bg-img .head {
    z-index: 1;
}

.card.card--bg-img .head .head__tag {
    left: 18px;
    right: unset;
}

.card.card--bg-img .head .head__action {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: xx-large;
    opacity: 0.8;
    color: #FF508C;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: opacity 200ms ease-in-out;
}

.card.card--bg-img .head .head__action:hover {
    opacity: 1;
}

.card.card--bg-img .content {
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    padding-bottom: 2px;
}

.card.card--bg-img .content .content__desc {
    margin-bottom: 12px;
    margin-top: 0px;
    padding-bottom: 0px;
    color: #fff;
}

.card.card--bg-img .content .content__title {
    margin: 0px 0px 4px 0px;
    padding: 0px;
    color: #fff;
}


/* Panels */
.panel {
    border-radius: 14px;
    width: 100%;
    overflow: hidden;
    margin: 1% auto;
    background-color: #ffbf0e;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #fff;
    text-align: center;
    position: relative;
    transition: color 200ms ease-in-out;
}

.panel .panel__icon {
    font-size: 65px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel:hover {
    color: #FF508C;
}

.panel .panel__text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.2px;
}

/* Grid */
.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    grid-template-rows: repeat(2, 200px) repeat(3, 150px);
    grid-template-areas: 
    "card-top card-mid panel-f img-top img-top"
    "card-top card-mid panel-f img-top img-top"
    "card-wide card-rm card-rm . panel-s"
    "card-wide card-rm card-rm img-bottom img-bottom"
    "card-wide card-rm card-rm img-bottom img-bottom";
}

.layout-item-1 {
    grid-area: card-top;
}

.layout-item-2 {
    grid-area: card-mid;
}

.layout-item-3 {
    grid-area: card-wide;
}

.layout-item-4 {
    grid-area: card-rm;
}

.layout-item-5 {
    grid-area: img-top;
}

.layout-item-6 {
    grid-area: img-bottom;
}

.layout-item-7 {
    grid-area: panel-f;
}

.layout-item-8 {
    grid-area: panel-s;
}