html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

article {
    margin: 20px;
}

section {
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}